<div class="form">
  <form [formGroup]="form">
    <div class="form-input">
      <label for="image">Image: </label>
      <input type="file" accept="image/*" (change)="show($event)" id="image">
    </div>
    <div class="form-input">
      <label for="url">URL: </label>
      <input type="text" id="url" formControlName="url">
      <div *ngIf="form.controls['url'].dirty && form.controls['url'].errors?.required" class="error">
        URL is required.
      </div>
    </div>
    <div class="form-input">
      <label for="animation">Animation: </label>
      <select id="animation" formControlName="animation">
        <option selected value="left-right">From Left To Right</option>
        <option value="right-left">From Right To Left</option>
      </select>
    </div>

    <button class="form-button" (click)="onPress()">Submit</button>
  </form>
</div>

<ng-container #vc></ng-container>

  <ng-template #tpl>
    <app-submit-view [url]="url" [image]="imageView" [option]="option" ></app-submit-view>
      </ng-template>
